.container {
  max-width: 1300px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 6.5rem;
  padding-left: 0.5rem;
}

.header-section {
  width: 100%;
  background: url(/assets/photos/IphoneBGphoto.png),
    linear-gradient(to top, #6da1cb, #95c3e0, #a1cde6);
  background-repeat: no-repeat, no-repeat;
  background-position: 120% -40%;
  height: 48vh;
}

@media (max-width: 768px) {
  .header-section {
    background: linear-gradient(to top, #6da1cb, #95c3e0, #a1cde6);
  }
}

.leadr-header-logo {
  font-family: "Pacifico", Helvetica, sans-serif;
}

.jumbo-design {
  background: none;
}

body {
  font-family: "lato", Helvetica, sans-serif;
}

.middle-section {
  background: #fafafa;
}
.card-1 {
  background: none;
  border: none;
}
.card-2 {
  border: none;
}
.card-3 {
  background: none;
  border: none;
}

/* .iphone-bg {
  background-image: url(/assets/photos/IphoneBGphoto.png);
  background-position: center
  background-repeat: no-repeat;
  background-size: cover;
} */

.bold {
  font-weight: 900;
  color: white;
}

.jobs-title {
  color: white;
}

.jobs-title h1 {
  font-weight: 300;
}

/* div {
  outline: solid black;
} */

.apple-button {
  background-color: #6d99bb;
  width: 15rem;
  border-radius: 1rem;
  color: white;
}

.fa-apple {
  color: white;
}

.android-button {
  background-color: #6d99bb;
  width: 15rem;
  border-radius: 1rem;
  color: white;
}
